In [3]:
import pandas as pd
import math
import numpy
import matplotlib as plt

In [1]:
import pandas_datareader as pdr

symbols_list = ['ORCL', 'TSLA', 'IBM','YELP', 'MSFT']
d = {}
for ticker in symbols_list:
    d[ticker] = pdr.get_data_yahoo(ticker, "yahoo", '2014-12-01')
pan = pd.Panel(d)
df1 = pan.minor_xs('Adj Close')
print(df1)

ModuleNotFoundError: No module named 'pandas.io.data'

In [2]:
import pandas_datareader as pdr
pdr.get_data_yahoo('AAPL')

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2015-05-13,127.190002,125.870003,126.150002,126.010002,34694200.0,116.131927
2015-05-14,128.949997,127.160004,127.410004,128.949997,45203500.0,118.841446
2015-05-15,129.490005,128.210007,129.070007,128.770004,38208000.0,118.675552
2015-05-18,130.720001,128.360001,128.380005,130.190002,50882900.0,119.984222
2015-05-19,130.880005,129.639999,130.690002,130.070007,44633200.0,119.873642
...,...,...,...,...,...,...
2020-05-04,293.690002,286.320007,289.170013,293.160004,33392000.0,292.368561
2020-05-05,301.000000,294.459991,295.059998,297.559998,36937800.0,296.756683
2020-05-06,303.239990,298.869995,300.459991,300.630005,35583400.0,299.818390
2020-05-07,305.170013,301.970001,303.220001,303.739990,28803800.0,302.919983
2020-05-08,310.350006,304.290009,305.640015,310.130005,33459600.0,310.130005